<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>BD Boum</title>
        <meta charset="UTF8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    </head>
    <body>
        {% include 'header.html' %}

        {% block content %}{% endblock %}

        {% include 'footer.html' %}

        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
