{% extends 'base.html' %}

{% block content %}
<main>
    <form> 
        <h1>Se connecter</h1>
        <p class="choose-email"> utiliser mon adresse e-mail :</p>
        
        <div class="inputs">
            <input type="email" placeholder="Email" />
            <input type="password" placeholder="Mot de passe">
        </div>
        
        <p class="inscription">Je n'ai pas de <span>compte</span>. Je m'en <span>crée</span> un.</p>
        <div>
            <button type="submit">Se connecter</button>
        </div>
        </form>
</main>
{% endblock %}