{% extends 'base.html' %}

{% block content %}
<main>
    <form role="form" method="post" action="{{ url_for('connexion') }}"> 
        {{ form.hidden_tag() }}
        <h1>Se connecter</h1>
        <p class="choose-email">Utiliser mon adresse e-mail :</p>
        
        <div class="inputs">
            {{ form.email(placeholder="Email") }}
            {{ form.password(placeholder="Mot de passe") }}
        </div>
        
        <p class="inscription">Je n'ai pas de <span>compte</span>. Je m'en <span>crée</span> un.</p>
        <div>
            <button type="submit">Se connecter</button>
        </div>
        </form>
</main>
{% endblock %}