{% extends 'base.html' %}

{% block content %}
<section>
    <div class="contenu-route">
        <p>
            Madame/Monsieur {{current_user.nom}} {{current_user.prenom}} 
            {% if current_user.mangeur != None and current_user.mangeur.intervenant != None and current_user.mangeur.intervenant.auteur != None %}
            des maisons d'éditions 
            {% endif %}
            est inscrit(e) pour le festival BD.BOUM.
        </p>
    </div>
</section>
{% if current_user.mangeur != None and current_user.mangeur.intervenant != None %}
<section class="section-route">
    <h3>
        Transport
    </h3>
    <div class="contenu-route">
        <p>
            Vous arrivez en {{"Voiture" if current_user.mangeur.intervenant.use_car == 1 else "Navette"}} le {{current_user.mangeur.intervenant.arrive.strftime('%d/%m/%Y à %Hh%S')}}.
        </p>
        <div class="ligne">
        </div>
        <p>
            Vous repartez le {{current_user.mangeur.intervenant.depart.strftime('%d/%m/%Y à %Hh%S')}}.
        </p>
    </div> 
</section>
{% endif %}
<section class="section-route">
    <h3>
        Hébergement
    </h3>
    <table>
        <tr>
            <td></td>
            <td>Jeudi</td>
            <td>Vendredi</td>
            <td>Samedi</td>
            <td>Dimanche</td>
        </tr>
        <tr>
            <td>Midi</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Soir</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

</section>
<section class="section-route">
    <h3>
        Restauration
    </h3>
    <table>
        <tr>
            <td></td>
            <td>Jeudi</td>
            <td>Vendredi</td>
            <td>Samedi</td>
            <td>Dimanche</td>
        </tr>
        <tr>
            <td>Midi</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Soir</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</section>


{% endblock %}

<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>

</html>