{% extends 'base.html' %}

{% block content %}
<main>
    <form method="post">
        {{ form.hidden_tag() }}
        <h1>S'inscrire</h1>
        <p class="choose-email"> Veuillez entrer vos informations de repas :</p>
        
        {{form.restaurantJeudiM.label()}}
        {{form.restaurantJeudiM()}}
        <br>
        {{form.restaurantJeudiS.label()}}
        {{form.restaurantJeudiS()}}
        <br><br>
        {{form.restaurantVendrediM.label()}}
        {{form.restaurantVendrediM()}}
        <br>
        {{form.restaurantVendrediS.label()}}
        {{form.restaurantVendrediS()}}
        <br><br>
        {{form.restaurantSamediM.label()}}
        {{form.restaurantSamediM()}}
        <br>
        {{form.restaurantSamediS.label()}}
        {{form.restaurantSamediS()}}
        <br><br>
        {{form.restaurantDimancheM.label()}}
        {{form.restaurantDimancheM()}}
        <br>
        {{form.restaurantDimancheS.label()}}
        {{form.restaurantDimancheS()}}
        <br><br>
        {{form.regimes.label()}}
        {{form.regimes()}}
        <br><br>
        
        <div>
            <button type="submit">S'inscrire</button>
        </div>
        </form>
</main>
{% endblock %}