<footer>
    <div class="footer">
        <a href="https://www.facebook.com/bdboum?fref=ts">
            <img src="static/images/facebook.png" alt="">
        </a>
        <a href="https://www.instagram.com/bdboum/">
            <img src="static/images/insta.png" alt="">
        </a>
        <a href="https://www.youtube.com/channel/UCZzbuXSrKg_De4i7H9BaW1Q">
            <img src="static/images/youtube.png" alt="">
        </a>
        <p>- 3 rue des Jacobins - BP 70239 - 41006 BLOIS Cedex - 02 54 42 49 22 -</p>
    </div>                
</footer>