<footer>
    <div class="footer">
        <ul class="wrapper">
            <li class="icon facebook">
                <span class="tooltip">Facebook</span>
                <span><a href="https://www.facebook.com/bdboum/"><i class="fab fa-facebook-f"><img src="./static/images/facebook.png" alt="facebook" class="reseau"></i></a></span>
            </li>
            <li class="icon twitter">
                <span class="tooltip">Twitter</span>
                <span><a href=""><i class="fab fa-twitter"><img src="./static/images/twitter.png" alt="twitter" class="reseau"></i></a></span>
            </li>
            <li class="icon instagram">
                <span class="tooltip">Instagram</span>
                <span><a href="https://www.instagram.com/bdboum/"><i class="fab fa-instagram"><img src="./static/images/insta.png" alt="instagram" class="reseau"></i></a></span>
            </li>
            <li>
                <p>3 Rue des Jacobins, 41000 Blois</p>
                
            </li>
        </ul>
    </div>                
</footer>