<nav>
    <div class="titretop topnav" id="mytire">
        <a href="index.html"><img src="static/images/logo.png" alt="logo"></a>
        
        <a href="/"><button class="btn">
            Accueil
        </button></a>
        {% if not current_user.is_authenticated %}
        <a class="fancy" href="{{ url_for('connexion') }}">
            <span class="top-key"></span>
            <span class="text">Connexion</span>
            <span class="bottom-key-1"></span>
            <span class="bottom-key-2"></span>
        </a>
        {% else %}
        <a href="{{url_for("gestion")}}"><button class="btn">
            Gestion
        </button></a>
        <div class="div-username">
            <p class="p-username">{{ current_user.prenom }} {{ current_user.nom }}</p>
            <a class="fancy" href="{{ url_for('deconnexion') }}">
                <span class="top-key"></span>
                <span class="text">Deconnexion</span>
                <span class="bottom-key-1"></span>
                <span class="bottom-key-2"></span>
            </a>
        </div>
        {% endif %}
    </div>
</nav> 

