<nav>
    <div class="titretop topnav" id="mytire">
        <a href="index.html"><img src="static/images/logo.png" alt="logo"></a>
        
        <a href="/"><button class="btn">
            Accueil
        </button></a>
        <a href="{{url_for("gestion")}}"><button class="btn">
            Gestion
        </button></a>
        <a href="/"><button class="btn">
            Participants
        </button></a>
        <a class="fancy" href="connexion">
            <span class="top-key"></span>
            <span class="text">Connexion</span>
            <span class="bottom-key-1"></span>
            <span class="bottom-key-2"></span>
        </a>
        
    </div>

    <!-- <div class="topnav" id="myTopnav">
        <a href="{{ url_for("inscription") }}">S'INSCRIRE</a>
        <a href="{{ url_for("connexion") }}">SE CONNECTER</a>
        <a href="{{ url_for("index") }}" class="details">DETAILS SUR LE FESTIVAL</a>
        <a href="javascript:void(0);" class="icon" onclick="displayHeader()">
            <img src="static/images/menu.png" alt="menu">
        </a>
    </div> -->
</nav> 

