{% extends 'base.html' %}

{% block content %}
<h1 id="titre-hor">Horaires</h1>
<div id="main-div">
    <div id="gauche-hor">
        <div>
            <h2>Vendredi</h2>
            <div id="text-gauche">
                <section id="matin">
                    <p>Matin :
                        <input type="text" name="debut" required>
                        heures  à
                        <input type="text" name="fin" required>
                        heures
                    </p>
                </section>
                <section id="aprem">
                    <p>Après-midi :
                        <input type="text" name="debut" required>
                        heures  à
                        <input type="text" name="fin" required>
                        heures
                    </p>
                </section>
            </div>
        </div>
        <br>
        <div>
            <h2>Samedi</h2>
            <div id="text-gauche">
                <section id="matin">
                    <p>Matin :
                        <input type="text" name="debut" required>
                        heures  à
                        <input type="text" name="fin" required>
                        heures
                    </p>
                </section>
                <section id="aprem">
                    <p>Après-midi :
                        <input type="text" name="debut" required>
                        heures
                    
                        à
                        <input type="text" name="fin" required>
                        heures
                    </p>
                </section>
            </div>
        </div>
        <br>
        <div>
            <h2>Dimanche</h2>
            <div id="text-gauche">
                <section id="matin">
                    <p>Matin :
                        <input type="text" name="debut" required>
                        heures  à
                        <input type="text" name="fin" required>
                        heures
                    </p>
                </section>
                <section id="aprem">
                    <p>Après-midi :
                        <input type="text" name="debut" required>
                        heures  à
                        <input type="text" name="fin" required>
                        heures
                    </p>
                </section>
            </div>
        </div>
    </div>
    <div>
        <div id="droite-hor">
            <div id="explications">
                <h3>Ici vous pouvez choisir/modifier les créneaux horaires</h3>
                <p>Il vous suffit juste de renseigner les heures (ex : 12h00, 15h30).</p>
                <p>Les horaires comme 11h00 à 13h00 sont à renseigner dans le matin.</p>
            </div>
            <br>
        </div>
        <div id="type">
            <select name="event" id="event">
                <option value="1">Repas</option>
                <option value="2">Créneau</option>
            </select>
            <br>
            <input type="submit" value="Sauvegarder">
        </div>
    </div>


</div>


{% endblock %}