{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="contenant" id="image">
            <div class="image-acceuil">
            </div>
        </div>
        <div class="contenant"> 
            <h1 class="titre-contenant">Details du festival</h1>
            <p class="texte-contenant">BD Boom, votre festival est de retour cette année ! Voici toutes les nouveautés à propos du festival. Artistes, auteurs, exposants, venez montrer ce que vous faites, saisissez l'opportunité de vous présenter au monde.</p>
        </div>
    </main>
{% endblock %}