{% extends 'base.html' %}

{% block content %}
<main>
    <form method="post" action="{{ url_for('inscription') }}">
        {{ form.hidden_tag() }}
        <h1>S'inscrire</h1>
        <p class="choose-email"> Veuillez entrer vos informations :</p>
        
        <div class="inputs inscrit">
            {{ form.name(placeholder=form.name.label.text) }}
            {{ form.last_name(placeholder=form.last_name.label.text) }}
            {{ form.birth_date(placeholder=form.birth_date.label.text) }}
            {{ form.tel(placeholder=form.tel.label.text) }}
            {{ form.mail(placeholder=form.mail.label.text) }}
            {{ form.password(placeholder=form.password.label.text) }}
            {{ form.remarque(placeholder=form.remarque.label.text) }}
            {{ form.key(placeholder=form.key.label.text) }}
        </div>
        
        <div>
            <button type="submit">S'inscrire</button>
        </div>
        </form>
</main>
{% endblock %}