{% extends 'base.html' %}

{% block content %}
<main>
    <form method="post" action="{{ url_for('inscription') }}">
        <h1>S'inscrire</h1>
        <p class="choose-email"> Veuillez entrer vos informations :</p>
        
        <div class="inputs inscrit">
            {% for field in form %}
                {{ field(placeholder=field.label.text) }}
            {% endfor %}
        </div>
        
        <div>
            <button type="submit">S'inscrire</button>
        </div>
        </form>
        <script src="{{ url_for('register_js') }}"></script>
</main>
{% endblock %}