{% extends 'base.html' %}

{% block content %}
<main>
    <form method="post">
        {{ form.hidden_tag() }}
        <h1>S'inscrire</h1>
        <p class="choose-email"> Veuillez entrer vos informations d'hébergement :</p>
        
        
        {{form.hotelJeudi.label()}}
        {{form.hotelJeudi()}}<br>
        {{form.hotelVendredi.label()}}
        {{form.hotelVendredi()}}<br>
        {{form.hotelSamedi.label()}}
        {{form.hotelSamedi()}}<br>
        {{form.hotelDimanche.label()}}
        {{form.hotelDimanche()}}<br>
        {{form.use_car.label()}}
        {{form.use_car()}}<br>
        {{form.arrivee.label()}}
        {{form.arrivee()}}<br>
        {{form.depart.label()}}
        {{form.depart()}}<br><br>
        
        <div>
            <button type="submit">S'inscrire</button>
        </div>
        </form>
</main>
{% endblock %}