body {
    margin: 0;
    background-color: #196A8A;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    scrollbar-color: yellow black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Path: nav.css */
.titretop {
    display: flex;
    overflow: hidden;
    background-color: #262F3A;
    text-align: center;
    flex-wrap: nowrap;
    height: 10vh;
    align-items: center;
}

.titretop a:first-child {
    margin-left: 5%;
}

.titretop img {
    width: auto;
    height: 7.5vh;
}

.titretop img:hover {
    transform: scale(1.1);
    transition: 0.5s;
    
}

.nomfest {
    display: flex;
    flex-wrap: nowrap;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
}


.nomfest h1 {
    color: #ddd;
}

.nomfest h1:first-child {
    margin-right: 3%;
}


.topnav {
    overflow: hidden;
    background-color: #374352;

    
}


.details {
    margin-right: 30%;
}




.topnav .icon {
    display: none;
}

.icon img {
    width: 5vw;
    height: 5vw;

}

/* bouton du menu */

.btn {
    font-size: 17px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: #ffedd3;
    text-transform: uppercase;
    position: relative;
    transition: .5s ease;
  }
  
  .btn::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #ffc506;
    transition: .5s ease;
  }
  
  .btn:hover {
    color: #ffc506;
    transition-delay: .5s;
  }
  
  .btn:hover::before {
    width: 100%;
  }
  
  .btn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #ffc506;
    transition: .4s ease;
    z-index: -1;
  }
  
  .btn:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
  }


/* bouton du menu */

/* se connecter qui bouge */

.fancy {
    background-color: transparent;
    border: 2px solid  #FBBE3B;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;

   }
   
   .fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background:  #FBBE3B;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
   }
   
   .fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color:  aliceblue;
   }
   
   .fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #374352;
    transition: width 0.5s ease-out, left 0.3s ease-out;
   }
   
   .fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #374352;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #374352;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy:hover {
    color: white;
    background:  #FBBE3B;
   }
   
   .fancy:hover::before {
    width: 0.9375rem;
    background: #374352;
   }
   
   .fancy:hover .text {
    color: #374352;
    padding-left: 1.5em;
   }
   
   .fancy:hover .top-key {
    left: -2px;
    width: 0px;
   }
   
   .fancy:hover .bottom-key-1,
    .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
   }

/* se connecter qui bouge */

/* Path: nav.css */

/* Path: main.css */
main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

.contenant {
    height: 30em;
    width: 45em;
    border-radius: 2vw;
    margin: 2vw;
    background-color: #FBBE3B;
    transition: transform 0.5s;
    box-shadow: 0 0.8em 0.6em rgba(0, 0, 0, 0.2);

}

.contenant:hover {
    transform: translateY(-0.7em);
}

#image {
    overflow: hidden;
    background-image: url(../images/accueil.jpg);
    background-size: cover;
    transition: transform 0.5s, filter 0.3s, box-shadow 0.3s;
    filter: grayscale(100%);

}

#image:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
    box-shadow: 0 0.8em 0.6em rgba(0, 0, 0, 0.2);
    filter: grayscale(0%) ;


}

.overlay {
    padding: 1em;
    transition: backdrop-filter 0.3s;
    height: 100%;
    width: 100%;
    color: #ddd;
}

.overlay h1 {
    margin-top: 0;
}

.overlay:hover {
    backdrop-filter: blur(4px);
}

.overlay>* {
    opacity: 0;
    transition: opacity 0.3s;
}

.overlay:hover>* {
    opacity: 1;
}



footer {
    background-color: #FBBE3B;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    
    margin-top: auto;
}

/* reseau sociaux footer */
.wrapper {
    display: inline-flex;
    list-style: none;
    height: 70px;
    width: 100%;
    font-family: "Poppins", sans-serif;
    justify-content: center;
  }
  .wrapper p {
    margin-left: 10px;
  }
  
  .wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #fff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #fff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #fff;
  }
  
  



/*main se connecter */

form {
    margin-top: 2rem;
    background-color: #262F3A;
    padding: 2.5rem 3.7rem;
    border-radius: 10px;
    min-width: 12rem;
}

form h1 {
    color: #FBBE3B;
    text-align: center;
}

form p.choose-email {
    color: #f2f2f2;
    text-align: center;
}

form .inputs {
    display: flex;
    flex-direction: column;
}

form .inputs * {
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    outline: none;
    margin-bottom: 2rem;
}

.inscrit {
    margin-bottom: 1rem;
}

form p.inscription {
    font-size: 0.8rem;
    margin-bottom: 1.2rem;
    color: #fff;
}

form p.inscription span {
    color: #FBBE3B;
}

form button {
    padding: 0.8rem 1.2rem;
    border-radius: 5px;
    border: none;
    font-size: 0.9rem;
    color: #fff;
    background-color: #FBBE3B;
    outline: none;
    cursor: pointer;
}




@media (max-width: 768px) {
    .topnav a {
        display: none;
        font-size: 3vw;
    }

    .topnav a.icon {
        float: left;
        display: block;
    }

    .nomfest {
        font-size: 4vw;
    }

    main {
        flex-wrap: wrap;

    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;

    }

    .footer {
        flex-wrap: wrap;
    }

    .contenant {
        height: 25em;
    }

    form {
        margin-top: 0px;
    }
}

.title {
    color: #FBBE3B;
    background-color: #262F3A;
    padding: 0.5rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 20px;
    width: 25rem;
    margin: 1rem;
    margin-left: 0;
    padding-left: 3rem;
}

.btn-add {
    background-color: #262F3A;
    color: white;
    border: none;
    border-radius: 10px;
    margin: 1rem;
    width: auto;
    padding: 0.5rem;
    font-size: large;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.btn-add:hover {
    background-color: #FBBE3B;
    color: #262F3A;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-pers {
    margin: auto;
    margin-top: 0;
    width: 60%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    align-items: left;
}

.thead {
    background-color: #262F3A;
    color: #FBBE3B;
    text-align: left;
    font-weight: bold;
    font-size: large;
    text-align: center;
}

.tbody {
    background-color: #374352;
    color: #FFFFFF;
    text-align: left;
    font-size: large;
    font-weight: lighter;
    text-align: center;
}

.tdhead {
    padding: 0.5rem;
    border-bottom: 2px solid #FBBE3B;
}

td {
    padding: 0.3rem;
}

.btn-edit, .btn-delete {
    background-color: transparent;
    border: none;
    margin: auto;
}

.btn-edit:hover, .btn-delete:hover {
    cursor: pointer;
}

.p-username {
    color: #FBBE3B;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    margin-left: 1rem;
    text-align: right;
}

.div-username {
    display: flex;
    margin-left: auto;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
    gap: 0 30px;
}

/* feuille de route */

h3 {
    width: 8em;
    height: 1.2em;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    color: #FBBE3B;
    background-color: #262F3A;
    font-style: italic;
    text-align: justify;
    padding: 1vw;
    border-bottom-right-radius: 1em;
    text-indent: 2vw;
    }

.ligne {
    border-bottom: 2px solid #FBBE3B;
    margin-left: 10%;
    margin-right: 10%;
}

#jour {
    background-color: black;
    color : white;
    border-radius: 1vw;
    border-color: black;
    text-align: justify;
    font-weight: bold;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1em;
}

.p3 {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    padding: 1vw;
    font-size: 1em;
    margin-left: 10%;
    color: white;
}

p {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    padding: 1vw;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 2vh;
    color: white;
    }



table {
    border-collapse: collapse;
    width: 100%;
    background-color: #374352;
    }

tr {
    border: 2px solid #FBBE3B;
    }

td {
    border: 2px solid #FBBE3B;
    padding: 1vw;
    color : white;
    }

.contenu-route {
    background-color: #374352;
    border-radius: 1vw;
    padding: 0.5%;
    margin: 2%;
}