body {
    margin: 0;
    background-color: #196A8A;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    scrollbar-color: yellow black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Path: nav.css */
.titretop {
    display: flex;
    overflow: hidden;
    background-color: #262F3A;
    text-align: center;
    flex-wrap: nowrap;
    height: 10vh;
    align-items: center;
}

.titretop a {
    margin-left: 5%;
}

.titretop img {
    width: auto;
    height: 7.5vh;
}

.nomfest {
    display: flex;
    flex-wrap: nowrap;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
}


.nomfest h1 {
    color: #ddd;
}

.nomfest h1:first-child {
    margin-right: 3%;
}


.topnav {
    overflow: hidden;
    background-color: #374352;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 0px 0px 2vw 2vw;
}

.topnav a {
    float: right;
    display: block;
    color: #FBBE3B;
    text-align: center;
    padding: 1vw 1vw;
    text-decoration: none;
    font-size: 1.3vw;
    padding-right: 6%;
    transition: 0.3s;
}

.details {
    margin-right: 30%;
}


.topnav a:hover {
    background-color: #FBBE3B;
    color: #374352;
    border-radius: 3vw;
}

.topnav .icon {
    display: none;
}

.icon img {
    width: 5vw;
    height: 5vw;
}




/* Path: nav.css */

/* Path: main.css */
main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

.contenant {
    height: 30em;
    width: 45em;
    border-radius: 2vw;
    margin: 2vw;
    background-color: #FBBE3B;
    transition: transform 0.5s;
    box-shadow: 0 0.8em 0.6em rgba(0, 0, 0, 0.2);

}

.contenant:hover {
    transform: translateY(-0.7em);
}

#image {
    overflow: hidden;
    background-image: url(../images/accueil.jpg);
    background-size: cover;
    transition: transform 0.5s, filter 0.3s, box-shadow 0.3s;
    filter: grayscale(100%);

}

#image:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
    box-shadow: 0 0.8em 0.6em rgba(0, 0, 0, 0.2);
    filter: grayscale(0%) ;


}

.overlay {
    padding: 1em;
    transition: backdrop-filter 0.3s;
    height: 100%;
    width: 100%;
    color: #ddd;
}

.overlay h1 {
    margin-top: 0;
}

.overlay:hover {
    backdrop-filter: blur(4px);
}

.overlay>* {
    opacity: 0;
    transition: opacity 0.3s;
}

.overlay:hover>* {
    opacity: 1;
}



footer {
    background-color: #FBBE3B;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    margin-top: auto;
}

footer a {
    height: 3vh;
}

footer img {
    height: 3vh;
    margin-right: 1vw;
}

footer p {
    float: right;
    font-size: 1.3vw;
}



/*main se connecter */

form {
    margin-top: 2rem;
    background-color: #262F3A;
    padding: 2.5rem 3.7rem;
    border-radius: 10px;
    min-width: 12rem;
}

form h1 {
    color: #FBBE3B;
    text-align: center;
}

form p.choose-email {
    color: #f2f2f2;
    text-align: center;
}

form .inputs {
    display: flex;
    flex-direction: column;
}

form .inputs * {
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    outline: none;
    margin-bottom: 2rem;
}

.inscrit {
    margin-bottom: 1rem;
}

form p.inscription {
    font-size: 0.8rem;
    margin-bottom: 1.2rem;
    color: #fff;
}

form p.inscription span {
    color: #FBBE3B;
}

form button {
    padding: 0.8rem 1.2rem;
    border-radius: 5px;
    border: none;
    font-size: 0.9rem;
    color: #fff;
    background-color: #FBBE3B;
    outline: none;
    cursor: pointer;
}




@media (max-width: 768px) {
    .topnav a {
        display: none;
        font-size: 3vw;
    }

    .topnav a.icon {
        float: left;
        display: block;
    }

    .nomfest {
        font-size: 4vw;
    }

    main {
        flex-wrap: wrap;

    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;

    }

    .footer {
        flex-wrap: wrap;
    }

    .contenant {
        height: 25em;
    }

    form {
        margin-top: 0px;
    }
}

.title {
    color: #FBBE3B;
    background-color: #262F3A;
    padding: 0.5rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 20px;
    width: 25rem;
    margin: 1rem;
    margin-left: 0;
    padding-left: 3rem;
}

.btn-add {
    background-color: #262F3A;
    color: white;
    border: none;
    border-radius: 10px;
    margin: 1rem;
    width: auto;
    padding: 0.5rem;
    font-size: large;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.btn-add:hover {
    background-color: #FBBE3B;
    color: #262F3A;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-pers {
    margin: auto;
    margin-top: 0;
    width: 60%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    align-items: left;
}

.thead {
    background-color: #262F3A;
    color: #FBBE3B;
    text-align: left;
    font-weight: bold;
    font-size: large;
    text-align: center;
}

.tbody {
    background-color: #374352;
    color: #FFFFFF;
    text-align: left;
    font-size: large;
    font-weight: lighter;
    text-align: center;
}

.tdhead {
    padding: 0.5rem;
    border-bottom: 2px solid #FBBE3B;
}

td {
    padding: 0.3rem;
}

.btn-edit, .btn-delete {
    background-color: transparent;
    border: none;
    margin: auto;
}

.btn-edit:hover, .btn-delete:hover {
    cursor: pointer;
}