body {
    margin: 0;
    background-color: #196A8A;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    scrollbar-color: yellow black;
}

/* Path: nav.css */
.titretop {
    display: flex;
    overflow: hidden;
    background-color: #262F3A;
    text-align: center;
    border-radius: 0px 0px 0px 2vw;
    flex-wrap: nowrap;
    height: 10vh;
    align-items: center;
    }

.titretop img{
    width: auto;
    height: 7.5vh;
    margin-left: 5%;
  
    }

.nomfest {
    display: flex;
    flex-wrap: nowrap;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    }

    
.nomfest h1 {
    color: #ddd;
    }

.nomfest h1:first-child{
    margin-right: 3%;
    }


.topnav {
    overflow: hidden;
    background-color: #374352;
    margin-left: 2vw;
    border-radius: 0px 0px 2vw 2vw;

    }

.topnav a {
    float: right;
    display: block;
    color: #FBBE3B;
    text-align: center;
    padding: 1vw 1vw;
    text-decoration: none;
    font-size: 1.3vw;
    padding-right: 6%;
    transition: 0.3s;
    }

.details {
        margin-right: 30%;
    }


.topnav a:hover {
    background-color: #FBBE3B;
    color: #374352;
    border-radius: 3vw;
    }

.topnav .icon {
    display: none;
    }

.icon img{
    width: 3vw;
    height: 3vw;
    }

/* Path: main.css */

main {
    flex-wrap: wrap;
    flex-basis: 100%;
    }

h3 {
    width: 150px;
    height: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    color: #FBBE3B;
    background-color: #262F3A;
    font-style: italic;
    text-align: justify;
    padding: 1vw;
    border-bottom-right-radius: 2vw;
    text-indent: 2vw;
    }

#jour {
    background-color: black;
    color : white;
    border-radius: 1vw;
    border-color: black;
    text-align: justify;
    font-weight: bold;
    padding-left: 1vw;
    padding-right: 1vw;
    }

#hbrgt {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    }

p {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    padding: 1vw;
    }

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #374352;
    }

tr {
    border: 2px solid #FBBE3B;
    }

td {
    border: 2px solid #FBBE3B;
    padding: 1vw;
    color : white;
    }

footer {
    background-color: #FBBE3B;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    margin-top: 2vh;
    }
footer a {
    height: 3vh;
    }

footer img {
    height: 3vh;
    margin-right: 1vw;
    }

footer p {
    float: right;
    font-size: 1.3vw;
    }

