<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../css/nav.css">
    </head>
    <body>

        <nav>
            <div class="titretop" id="mytire">
                <img src="../ressources/logo.png" alt="logo">
                <div class="nomfest">
                    <h1>BD.BOUM</h1>
                    <h1>FESTIVAL</h1>
                </div>
                
            </div>
    
            <div class="topnav" id="myTopnav">
                <a href="#inscrire">S'INSCRIRE</a>
                <a href="#connecter">SE CONNECTER</a>
                <a href="#details" class="details">DETAILS SUR LE FESTIVAL</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <img src="../ressources/menu.png" alt="menu">
                </a>
            </div>
        </nav>

        <main>
            <div class="contenant" id="image">
                <div class="overlay">
                    <h1>Lorem ipsum </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis</p>
                </div>
            </div>
            <div class="contenant"> 
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis in, fugiat rem laborum esse eius neque aliquid aspernatur voluptas tenetur soluta unde culpa repellat dolorem, amet vero provident consectetur voluptates.</p>
            </div>
        </main>

        <footer>
            <div class="footer">
                <a href="https://www.facebook.com/bdboum?fref=ts">
                    <img src="../ressources/facebook.png" alt="">
                </a>
                <a href="https://www.instagram.com/bdboum/">
                    <img src="../ressources/insta.png" alt="">
                </a>
                <a href="https://www.youtube.com/channel/UCZzbuXSrKg_De4i7H9BaW1Q">
                    <img src="../ressources/youtube.png" alt="">
                </a>
                <p>  - 3 rue des Jacobins - BP 70239 - 41006 BLOIS Cedex - 02 54 42 49 22 - </p>

            

            </div>
                
        </footer>

        <script>
        function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
        }
        </script>

    </body>
</html>
